<%= form_for @house do |f| %>

<div>
  <%= f.label :name%>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :address %>
  <%= f.text_field :address, class: "geocoder" %>
</div>
<div>
  <%= f.hidden_field :longitude, data: { map: 'lng' }, class: "longitude" %>
  <%= f.hidden_field :latitude, data: { map: 'lat' }, class: "latitude" %>
  <%= f.hidden_field :zoom, data: { map: 'zoom' }, class: "zoom" %>
  <%= f.marker_field :map %>
</div>
<div>
  <%= f.submit "Save" %>
</div>


<script>
$(".geocoder").blur(function(){
  $.get( "/houses/geocoder.json?address="+$(this).val(), function( data ) {
    console.log(data);
    $( ".longitude" ).val(data.longitude);
    $( ".latitude" ).val(data.latitude);
    initMarkerMap();
  });
});
</script>

<% end %>
