<div style="float: left; width: 40%;">
  <h2>Instrucciones de instalación</h2>
  <ol>
    <li>
      Cargar las siguientes gemas en el Gemfile
      <pre>
        gem "jquery-rails"
        gem "geocoder"
        gem 'rails-marker', require: 'marker'
      </pre>
    </li>
    <li>
      Hacer un modelo/tabla que contenga los campos
      <pre>
        :address, :latitude, :longitude
      </pre>
    </li>
    <li>
      Cargar los siguientes campos en un formulario
      <pre>
        f.text_field :address, class: "geocoder"
        f.hidden_field :longitude, data: { map: 'lng' }, class: "longitude"
        f.hidden_field :latitude, data: { map: 'lat' }, class: "latitude"
        f.hidden_field :zoom, data: { map: 'zoom' }, class: "zoom"
        f.marker_field :map
      </pre>
    </li>
    <li>
      Utilizar el siguiente snippet JavaScript en el formulario
      <pre>
        $(".geocoder").blur(function(){
          $.get( "/houses/geocoder.json?address="+$(this).val(), function( data ) {
            console.log(data);
            $( ".longitude" ).val(data.longitude);
            $( ".latitude" ).val(data.latitude);
            initMarkerMap();
          });
        });
      </pre>
    </li>
  </ol>
</div>
