
<div style="float: left; width: 40%;">
  <h1>House List</h1>

  <%= link_to "New", new_house_path %>
  <% if @houses.empty? %>
  <div>
    No Houses yet? Create your first House!
  </div>
  <% else %>
  <table>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th></th>
    </tr>
    <% @houses.each do |house| %>
    <tr>
      <td><%= house.name%></td>
      <td><%= house.address%></td>
      <td><%= house.longitude%></td>
      <td><%= house.latitude%></td>
      <td>
        <%= link_to "Edit", edit_house_path(house)%>
        <%= link_to "Delete", house_path(house), method: :delete, data: {confirm: "Sure?"}%>
      </td>
    </tr>
    <% end %>
  </table>
  <% end %>
</div>
<%= render "readme"%>
